<script>
    $(function () {
        var currentId = null;

        function saveEntry(id, bodyText) {
            $.ajax({
                url: `http://localhost:8080/api/trips/${id}`,
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({ notes: bodyText })
            }).done((data) => {
                closeModal();
                location.reload();
            }).fail((data) => {
                alert("Error");
            });
        }

        function closeModal() { $('.modal').removeClass("is-active"); }

        $('.contribute-link').click((e) => {
            $('.modal').addClass("is-active");
            $('#entry-area').val(e.target.attributes["notes"].value);
            currentId = e.target.attributes["linkid"];

        });

        $('.save').click((e) => {
            saveEntry(currentId.value, $("#entry-area").val());
        });

        $('.cancel').click((e) => { closeModal(); });

        $('.modal-close').click((e) => { closeModal(); });
    });

</script>

<h1 class="title">Where in the world are you going?</h1>

<div id="main-container" class="container-home">
    <section class="main-container">


        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <h1>Share your "do-not-miss" etc.</h1>
                    <textarea id="entry-area" class="textarea" placeholder="e.g. Hello world"></textarea>
                    <br />
                    <button class="button save">Save</button>
                    <button class="button is-danger cancel">Cancel</button>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
        <section class="section">
            <div class="container">
                {{!-- <h1 class="title">Where in the world are you going?</h1> --}}
                <div class="columns">
                    {{#each trips}}
                    <div class="column is-one-fourth">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="https://source.unsplash.com/1280x960/?{{this.dataValues.name}}"
                                        alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">{{this.dataValues.name}}</p>
                                    </div>
                                </div>

                                <div class="content">
                                    {{this.dataValues.notes}}
                                </div>
                            </div>
                            <footer class="card-footer">
                                <p class="card-footer-item">
                                    <span>
                                        <a class="contribute-link" notes="{{this.dataValues.notes}}"
                                            linkid="{{this.dataValues.id}}">Contribute Here!</a>
                                    </span>
                                </p>
                                <p class="card-footer-item">
                                    <span><a
                                            href="https://www.yelp.com/search?find_desc=&find_loc={{this.dataValues.name}}">
                                            Search
                                            Yelp!</a></span>
                                </p>
                            </footer>
                        </div>
                    </div>
                    <br />
                    {{/each}}
                </div>
            </div>
        </section>

    </section>
</div>